::selection {
  background-color: #6ab344;
  color: #fff;
}
.shapka{
  background-color: lawngreen;
  text-align: center;
  height: 100px;
  color: white;
  font-family: Chalkduster, "Faster One";
  font-size: 100px;

  /*width: 10%;*/

}
.inlineblock{
  background-color: white;
  height: 80px;

}
.element{

  display: inline-block;
  width: 50%;
  text-align: center;
  border-bottom: 4px solid transparent;

}
.element:hover {
  border-bottom: 4px solid lawngreen;
}
.page{
  background-color: aliceblue;
}
.bfont{
  font-size: 60px;
  text-decoration: none;
  color: gainsboro;
}




