
<nav class="main">
  <div class="main">
    <div class="shapka" >
     ||| A P P L I C A T I O N |||
    </div>
    <div class="inlineblock " routerLinkActive="active">
      <div class="element"><a class="bfont" routerLink="home">Home</a></div>
      <div *ngIf="authority === 'user'" class="element">
        <a routerLink="user" class="bfont">User Board</a>
      </div>
      <div *ngIf="authority === 'admin'" class="element">
        <a class="bfont" routerLink="admin" >Admin Board</a>
      </div>
      <div *ngIf="authority === 'pm'" class="element">
        <a class="bfont" routerLink="pm">PM Board</a>
      </div>
      <div *ngIf="!authority" class="element">
        <a class="bfont" routerLink="auth/login">Login</a>
      </div>
    </div>
  </div>
</nav>
<div class="mat-card-header">
  <router-outlet class="main"></router-outlet>
</div>
