<div  *ngIf="info.token; else loggedOut">
  <h5 class="title">Your Information</h5>
  <div class="info">
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong >Token:</strong> {{info.token}}.
  </p>
    <div>
      <button class="btn btn--logout" (click)="logout()">Logout</button>
    </div>
  </div>


</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
